html *
{
   font-size: 1.2em !important;
}

h1 {
    color: blue;
    text-align: center;
    margin: 40px;
}

.imagediv {
    text-align: center;
}

#logo {
    width: 300px;
}

div.settings {
    display: grid;
    justify-content: center;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}
div.settings label       { text-align:right; }
